<style>
    *{
        font-family:"Helvetica";
        color: black;
    }
    #logo{
        width:5vw;
        align-self: center;
    }
    #avatar{
        width: 12vw;
        align-self: center;
        background-color: #ffe27b;
        border-radius: 50%;
    }
    a{
        text-decoration: none;
        color: orange;
    }
    h3{
        margin-top: 2vh;
        font-weight: bolder;
    }
    .header{
        display: flex;
        justify-content: space-between;
        column-gap: 5vw;
    }
    #logout{
        padding: 1vh 2vw;
        margin: auto 1vh;
        display: flex;
        align-items: center;
        background-color: #f2921d;
        color: white;
        border-radius: 1.5rem;
    }
    #edit{
        padding: 1.2vh 1vw;
        margin: 1vh 0;
        display: flex;
        width: 80px;
        align-items: center;
        background-color: #f2921d;
        color: white;
        border-radius: 1.5rem;
    }
    .appointment-content{
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        width:38vw;
        margin: 0 auto 10vh auto;
        background-color: #ffffff;
        padding: 2vh 0 2vh 0;
        border-radius: 1.3rem;
    }
    .appointment-card{
        background-color: rgb(223, 223, 223);
        padding: 2vw;
        margin-top: 20px;
        border-radius: 1em;

    }
    .del-update{
        display: flex;
        justify-content: space-between;
    }
    #delete-update{
        padding: 1vh 2vw;
        margin: auto 1vh;
        background-color: #f2921d;
        color: white;
        border-radius: 1.5rem;
    }
    #create{
        align-self: center;
        padding: 1.6vh 1.8vw;
        margin: auto 1vh;
        width: 180px;
        background-color: #f2921d;
        color: white;
        border-radius: 1.5rem;
    }
    .del-update p{
        background-color: rgb(240, 128, 128);
        color: white;
        padding: 10px;
        width: 20%;
        text-align: center;
        border-radius: 1.2em;
    }
    .nav{
        display: flex;
        background-color: #f7ede1;
        justify-content: space-between;
        padding: 0 10px;
    }
    .nav nav{
        display: flex;
        column-gap: 10px;
        align-items: center;
    }
    .prof{
        display: flex;
        justify-content: space-between;
    }
</style>
{% block content %}
{% if request.user.is_authenticated %}
    <div class="appointment-content">
        <div class="nav">
            <nav>
                <a href={% url 'get-appoint' %}>Appointments</a>
                <a href={% url 'appoint' %}>Create appointments</a>
                <a href={% url 'med-data' %}>Medical report</a>
            </nav>
            <p>Hi, <a href={% url 'profile-info' %}>{{user_type}}</a></p>
        </div>
        <img src="/static/images/12-layes-outline.apng" id="logo">
        <div class="header"><h3>Profile</h3><a id="logout" type="button" href="../logout">logout</a></div>
        <div class="appointment-card">
            <div class="prof">
                <div>
                    <p><b>Name: </b>{{data.name}}</p>
                    {% if user_type == 'DOCTOR' %}
                        <p><b>Speciality: </b> {{data.specialist}}</p>
                        <p><b>Bio: </b> {{data.bio}}</p>
                        <p><b>Experience: </b> {{data.experience}}</p>
                        <a id="edit" type="button" href={% url 'profile' %}>Edit Profile</a>
                    </div>
                    <img src="/static/images/doc.apng" id="avatar">
                        {% elif user_type == 'PATIENT' %}
                        <p><b>Age: </b>{{data.age}}</p>
                        <p><b>BloodGroup: </b>{{data.blood_group}}</p>
                        <p><b>Last Medical Report:</b> {{ data.past_medical_report }}</p>
                        <a id="edit" type="button" href={% url 'profile' %}>Edit Profile</a>
                    </div>
                    <img src="/static/images/avatar.apng" id="avatar">
                    {% else %}
                    </div>
                    <img src="/static/images/admin.apng" id="avatar">
                    {% endif %}
                    
            </div>
        </div>  
    </div>
{% endif %}
{% endblock %}